<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Spring Boot con Thymeleaf y Bootstrap</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- Estilos personalizados -->
	<link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<header class="container-fluid py-4">
	<div class="container">
		<h1>Titulo de la Cabecera</h1>
	</div>
</header>
<div class="container-fluid">
	<div class="row">
		<nav id="sidebar" class="col-md-2 col-lg-2">
			<ul>
				<li><a th:href="@{/}" class="nav-link" id="enlace1">Home content</a></li>
				<li><a th:href="@{/pagina1}" class="nav-link" id="enlace2">Pagina 1</a></li>
				<li><a th:href="@{/pagina2?id=1}" class="nav-link" id="enlace3">Pagina 2</a></li>
			</ul>
		</nav>
		<main class="col-md-10 col-lg-10 py-4">
			<!-- Contenido principal -->
			<h2>Contenido Principal</h2>
			<p>Aquí puedes poner el contenido principal de tu página.</p>
			<div th:insert="~{${page}}"></div>
		</main>
	</div>
</div>

<!-- Bootstrap JS (opcional, si necesitas funcionalidades de Bootstrap que requieran JavaScript) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Script para resaltar el enlace seleccionado -->
<script>
	$(document).ready(function() {
		// Agregar la clase 'selected' al enlace correspondiente cuando se carga la página
		var path = window.location.pathname;
		$('.nav-link').removeClass('selected');
		if (path === "/") {
			$('#enlace1').addClass('selected');
		} else if (path === "/pagina1") {
			$('#enlace2').addClass('selected');
		} else if (path === "/pagina2") {
			$('#enlace3').addClass('selected');
		}

		// Manejar el clic en los enlaces
		$('.nav-link').click(function() {
			$('.nav-link').removeClass('selected'); // Remueve la clase 'selected' de todos los enlaces
			$(this).addClass('selected'); // Agrega la clase 'selected' al enlace seleccionado
		});
	});
</script>
</body>
</html>




